{% extends "layout/base_contact.html" %}
{% load static %}
{% block title%} Create family {% endblock %}

{% block content%}
    <div class="slid insade-slid">
    <div class="container-wrap-gradient"></div>
    <img src="{% static 'layout/img/naslovna3.jpg' %}" />  
 </div>
 
 <section class="profil-wrapper">
    <div class="container">
       <div class="insade-profil-wrapper insade-profil-wrapper-bebisit">
          <div class="user-title">
             <h1>Tatijana Milosavljević</h1>
          </div>
          <div class="profile_edit">
             <form method="post" action="">
                {% csrf_token %}
                <div class="row">
                   <div class="col-lg-6">
                      <div class="profile_edit-left">
                         <div class="row">
                            <div class="col-lg-6">
                               <div class="mb-3">
                                  <label for="user_name" class="form-label">Ime</label>
                                  <input type="text" class="form-control" id="user_name" name="user_name">
                               </div>
                            </div>
                            <div class="col-lg-6">
                               <div class="mb-3">
                                  <label for="user_surname" class="form-label">Prezime</label>
                                  <input type="text" class="form-control" id="user_surname" name="user_surname">
                               </div>
                            </div>
                            <div class="col-lg-6">
                               <div class="mb-3">
                                  <label for="user_city" class="form-label">Grad</label>                                       
                                  <select name="user_city" class="form-select" aria-label="Default select example">
                                       <option value="">Izaberi lokaciju</option>
                                       <option value="1">Beograd</option>
                                       <option value="2">Novi Sad</option>
                                       <option value="3">Niš</option>
                                       <option value="4">Kragujevac</option>
                                       <option value="5">Leskovac</option>
                                       <option value="92">Ada</option>
                                       <option value="64">Aleksandrovac</option>
                                       <option value="31">Aleksinac</option>
                                       <option value="81">Alibunar</option>
                                       <option value="59">Apatin</option>
                                       <option value="35">Aranđelovac</option>
                                       <option value="84">Arilje</option>
                                       <option value="118">Babušnica</option>
                                       <option value="105">Bač</option>
                                       <option value="27">Bačka Palanka</option>
                                       <option value="49">Bačka Topola</option>
                                       <option value="110">Bački Petrovac</option>
                                       <option value="67">Bajina Bašta</option>
                                       <option value="122">Batočina</option>
                                       <option value="43">Bečej</option>
                                       <option value="90">Bela Crkva</option>
                                       <option value="119">Bela Palanka</option>
                                       <option value="100">Beočin</option>
                                       <option value="123">Blace</option>
                                       <option value="60">Bogatić</option>
                                       <option value="130">Bojnik</option>
                                       <option value="113">Boljevac</option>
                                       <option value="33">Bor</option>
                                       <option value="141">Bosilegrad</option>
                                       <option value="97">Brus</option>
                                       <option value="38">Bujanovac</option>
                                       <option value="12">Čačak</option>
                                       <option value="103">Čajetina</option>
                                       <option value="136">Ćićevac</option>
                                       <option value="126">Čoka</option>
                                       <option value="145">Crna Trava</option>
                                       <option value="54">Ćuprija</option>
                                       <option value="74">Despotovac</option>
                                       <option value="135">Dimitrovgrad</option>
                                       <option value="86">Doljevac</option>
                                       <option value="139">Gadžin Han</option>
                                       <option value="140">Golubac</option>
                                       <option value="37">Gornji Milanovac</option>
                                       <option value="34">Inđija</option>
                                       <option value="132">Irig</option>
                                       <option value="50">Ivanjica</option>
                                       <option value="22">Jagodina</option>
                                       <option value="68">Kanjiža</option>
                                       <option value="25">Kikinda</option>
                                       <option value="79">Kladovo</option>
                                       <option value="108">Knić</option>
                                       <option value="51">Knjaževac</option>
                                       <option value="112">Koceljeva</option>
                                       <option value="121">Kosjerić</option>
                                       <option value="69">Kovačica</option>
                                       <option value="48">Kovin</option>
                                       <option value="8">Kraljevo</option>
                                       <option value="91">Krupanj</option>
                                       <option value="7">Kruševac</option>
                                       <option value="101">Kučevo</option>
                                       <option value="39">Kula</option>
                                       <option value="83">Kuršumlija</option>
                                       <option value="102">Lajkovac</option>
                                       <option value="142">Lapovo</option>
                                       <option value="76">Lebane</option>
                                       <option value="114">Ljig</option>
                                       <option value="104">Ljubovija</option>
                                       <option value="19">Loznica</option>
                                       <option value="77">Lučani</option>
                                       <option value="85">Majdanpek</option>
                                       <option value="120">Mali Iđoš</option>
                                       <option value="117">Mali Zvornik</option>
                                       <option value="125">Malo Crniće</option>
                                       <option value="143">Medveđa</option>
                                       <option value="109">Merošina</option>
                                       <option value="106">Mionica</option>
                                       <option value="45">Negotin</option>
                                       <option value="134">Nova Crnja</option>
                                       <option value="94">Nova Varoš</option>
                                       <option value="71">Novi Bečej</option>
                                       <option value="129">Novi Kneževac</option>
                                       <option value="14">Novi Pazar</option>
                                       <option value="55">Odžaci</option>
                                       <option value="133">Opovo</option>
                                       <option value="116">Osečina</option>
                                       <option value="9">Pančevo</option>
                                       <option value="29">Paraćin</option>
                                       <option value="82">Pećinci</option>
                                       <option value="52">Petrovac na Mlavi</option>
                                       <option value="26">Pirot</option>
                                       <option value="128">Plandište</option>
                                       <option value="21">Požarevac</option>
                                       <option value="57">Požega</option>
                                       <option value="46">Preševo</option>
                                       <option value="63">Priboj</option>
                                       <option value="44">Prijepolje</option>
                                       <option value="36">Prokuplje</option>
                                       <option value="124">Rača</option>
                                       <option value="70">Raška</option>
                                       <option value="137">Ražanj</option>
                                       <option value="131">Rekovac</option>
                                       <option value="28">Ruma</option>
                                       <option value="11">Šabac</option>
                                       <option value="111">Sečanj</option>
                                       <option value="73">Senta</option>
                                       <option value="47">Šid</option>
                                       <option value="65">Sjenica</option>
                                       <option value="13">Smederevo</option>
                                       <option value="32">Smederevska Palanka</option>
                                       <option value="98">Sokobanja</option>
                                       <option value="16">Sombor</option>
                                       <option value="96">Srbobran</option>
                                       <option value="18">Sremska Mitrovica</option>
                                       <option value="138">Sremski Karlovci</option>
                                       <option value="23">Stara Pazova</option>
                                       <option value="6">Subotica</option>
                                       <option value="80">Surdulica</option>
                                       <option value="72">Svilajnac</option>
                                       <option value="107">Svrljig</option>
                                       <option value="61">Temerin</option>
                                       <option value="99">Titel</option>
                                       <option value="75">Topola</option>
                                       <option value="144">Trgovište</option>
                                       <option value="40">Trstenik</option>
                                       <option value="53">Tutin</option>
                                       <option value="58">Ub</option>
                                       <option value="20">Užice</option>
                                       <option value="15">Valjevo</option>
                                       <option value="87">Varvarin</option>
                                       <option value="42">Velika Plana</option>
                                       <option value="88">Veliko Gradište</option>
                                       <option value="78">Vladičin Han</option>
                                       <option value="89">Vladimirci</option>
                                       <option value="56">Vlasotince</option>
                                       <option value="17">Vranje</option>
                                       <option value="41">Vrbas</option>
                                       <option value="62">Vrnjačka Banja</option>
                                       <option value="30">Vršac</option>
                                       <option value="66">Žabalj</option>
                                       <option value="127">Žabari</option>
                                       <option value="115">Žagubica</option>
                                       <option value="24">Zaječar</option>
                                       <option value="93">Žitište</option>
                                       <option value="95">Žitorađa</option>
                                       <option value="10">Zrenjanin</option>
                                     </select>                                                   
                                   
                               </div>
                            </div>
                            <div class="col-lg-6">
                               <div class="mb-3">
                                  <label for="user_municipality" class="form-label">Opština</label>                      
                                  <input type="text" class="form-control" id="user_municipality" name="user_municipality">
                               </div>
                            </div>
                         
                            <div class="col-lg-6">
                               <div class="mb-3">
                                  <label for="user_child_year" class="form-label">Uzrast dece</label>
                                  <div id="user_child_year_help" class="form-text">Godine dece koja se čuvaju</div>
                                  <select name="user_child_year" class="form-select" aria-label="Default select example">
                                       <option selected>Uzrast dece</option>
                                       <option value="0-1">Beba 0-1</option>
                                       <option value="1-3">1-3</option>        
                                       <option value="3-5">3-5</option>        
                                       <option value="5-12">5-12</option>                                                      
                                     </select>
                               </div>
                            </div>

                            <div class="col-lg-6">
                               <div class="mb-3">
                                  <label for="user_child_number" class="form-label">Broj dece</label>
                                  <div id="user_child_number_help" class="form-text">Ukupan broj dece koji se čuva</div>
                                  <select name="user_child_number" class="form-select" aria-label="Default select example">
                                       <option selected>Broj dece</option>
                                       <option value="1">1</option>
                                       <option value="2">2</option>        
                                       <option value="3">3</option>        
                                       <option value="4">4</option>        
                                       <option value="5">5</option>        
                                       <option value="6">6</option>        
                                       <option value="7">7</option>        
                                       <option value="8">8</option>        
                                       <option value="9">9</option>        
                                       <option value="10">10</option>        
                                     </select>
                               </div>
                            </div>

                            <div class="col-lg-6">
                               <div class="mb-3">
                                  <label for="user_year" class="form-label">Godine roditelja</label>
                                  <input type="number" class="form-control" id="user_year" min="1" max="100" name="user_year">
                               </div>
                            </div>
                            <div class="col-lg-6">
                               <div class="mb-3">
                                  <label for="user_phone" class="form-label">Telefon</label>
                                  <input type="text" class="form-control" id="user_phone" name="user_phone">
                               </div>
                            </div>
                            
                            <div class="col-lg-6">
                               <div class="mb-3">
                                  <label for="user_social_network" class="form-label">Socijalne mreže</label>
                                  <input type="url" class="form-control" id="user_social_network" name="user_social_network">
                               </div>
                            </div>
                         </div>
                         <div class="mb-3">
                            <label for="user_municipality" class="form-label">Da li je državljanin RS ili inostrani državljanin</label>
                            <div class="form-check">
                               <input class="form-check-input" value="" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                               <label class="form-check-label" for="flexRadioDefault1">
                                 Državljanin RS
                               </label>
                             </div>
                             <div class="form-check">
                               <input class="form-check-input" value="" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
                               <label class="form-check-label" for="flexRadioDefault2">
                                 Inostrani državljanin
                               </label>
                             </div>
                         </div>
                      </div>
                   </div>
                   <div class="col-lg-6">
                      <div class="profile_edit_right">
                         <div class="mb-3">
                            <label for="about_me" class="form-label">O sebi</label>
                            <textarea class="form-control" id="about_me" name="about_me"></textarea>
                         </div>
                         <div class="mb-3">
                            <label for="about_me" class="form-label">About me</label>
                            <textarea class="form-control" id="about_me_eng" name="about_me_eng"></textarea>
                         </div>
                         <div class="mb-3">
                            <label for="user_image" class="form-label">Slika</label>
                            <input type="file" value="kko" class="form-control" id="user_image" name="user_image">
                         </div>
                         <div class="user-table table-responsive table-sm">
                            <h3>Vreme kada je potrebno čuvanje</h3>
                            <div class="select-btn">
                               <input type="button" class="select_all" value="Selektuj sve"/>  
                               <input type="button" class="deselect_all" value="Resetuj selektovan"/>  
                            </div>
                            <table class="table table-striped table-hover">
                               <thead>
                                  <tr>
                                     <th scope="col"></th>
                                     <th scope="col">Ponedeljak</th>
                                     <th scope="col">Utorak</th>
                                     <th scope="col">Sreda</th>
                                     <th scope="col">Četvrtak</th>
                                     <th scope="col">Petak</th>
                                     <th scope="col">Subota</th>
                                     <th scope="col">Nedelja</th>
                                  </tr>
                               </thead>
                               <tbody>
                                  <tr>
                                     <th scope="row">Jutro</th>
                                     <td><input type="checkbox" class="chk" name="" value=""></td>
                                     <td><input type="checkbox" class="chk" name="" value=""></td>
                                     <td><input type="checkbox" class="chk" name="" value=""></td>
                                     <td><input type="checkbox" class="chk" name="" value=""></td>
                                     <td><input type="checkbox" class="chk" name="" value=""></td>
                                     <td><input type="checkbox" class="chk" name="" value=""></td>
                                     <td><input type="checkbox" class="chk" name="" value=""></td>
                                     
                                  </tr>
                                  <tr>
                                     <th scope="row">Popodne</th>
                                     <td><input type="checkbox" class="chk" name="" value=""></td>
                                     <td><input type="checkbox" class="chk" name="" value=""></td>
                                     <td><input type="checkbox" class="chk" name="" value=""></td>
                                     <td><input type="checkbox" class="chk" name="" value=""></td>
                                     <td><input type="checkbox" class="chk" name="" value=""></td>
                                     <td><input type="checkbox" class="chk" name="" value=""></td>
                                     <td><input type="checkbox" class="chk" name="" value=""></td>
                                  </tr>
                                  <tr>
                                     <th scope="row">Veče</th>
                                     <td><input type="checkbox" class="chk" name="" value=""></td>
                                     <td><input type="checkbox" class="chk" name="" value=""></td>
                                     <td><input type="checkbox" class="chk" name="" value=""></td>
                                     <td><input type="checkbox" class="chk" name="" value=""></td>
                                     <td><input type="checkbox" class="chk" name="" value=""></td>
                                     <td><input type="checkbox" class="chk" name="" value=""></td>
                                     <td><input type="checkbox" class="chk" name="" value=""></td>
                                  </tr>
                                  <tr>
                                     <th scope="row">Noć</th>
                                     <td><input type="checkbox" class="chk" name="" value=""></td>
                                     <td><input type="checkbox" class="chk" name="" value=""></td>
                                     <td><input type="checkbox" class="chk" name="" value=""></td>
                                     <td><input type="checkbox" class="chk" name="" value=""></td>
                                     <td><input type="checkbox" class="chk" name="" value=""></td>
                                     <td><input type="checkbox" class="chk" name="" value=""></td>
                                     <td><input type="checkbox" class="chk" name="" value=""></td>
                                  </tr>
                               </tbody>
                            </table>
                         </div>
                      </div>
                   </div>
                </div>
                <input type="submit" name="send_msg" value="Pošalji" class="btn btn-log-reg">
             </form>
          </div>
       </div>
    </div>
 </section>

{% endblock %}