<!-- HEADER POČETAK  -->
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS -->
    <link
      href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'layout/css/style.css' %}" /> 
    <link rel="stylesheet" type="text/css" href="{% static 'layout/css/responsive.css' %}" />
     <!--Favicon-->
      <link rel="apple-touch-icon" sizes="180x180" href="{% static 'layout/img/favicon/apple-touch-icon.png' %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static 'layout/img/favicon/favicon-32x32.png' %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static 'layout/img/favicon/favicon-16x16.png' %}">
      <link rel="manifest" href="{% static 'layout/img/favicon/site.webmanifest' %}">
    <title>{% block title%} {% endblock %}</title>
  </head>
  <body>
    <div class="menu">
      <span class="bar"></span>
    </div>

    <!-- menu -->
    <div class="slid-wrap-nav">
      <div class="logo-mob-on-top">
        <a href="{% url 'layout:home' %}">
          <img src="{% static 'layout/img/logo4.png' %}" />
          </a>
      </div>
      <header>
        <div class="container rem-onmobile add-fluid-div">
          <div class="top-info">
            <div class="row">
              <div class="col-md-4">
                <div class="top-logo">
                  <a href="{% url 'layout:home' %}">
                    <img src="{% static 'layout/img/logo5.png' %}" />
                  </a>
                </div>
              </div>
              <div class="col-md-8">
                <div class="top-lang">
                  <a href="/en/"><img src="{% static 'layout/img/eng.png' %}" /></a>
                  <a href="/"><img src="{% static 'layout/img/srb.jpg' %}" /></a>
                </div>
              </div>
            </div>
          </div>
          <div class="nav-top">
            <div class="circle-logo">
              <img src="{% static 'layout/img/logo6.png' %}" />
            </div>
            <nav>
              <div class="top-lang-on-mob">
                <ul class="lang-circle">
                  <li><a href="/en/"><img src="{% static 'layout/img/eng-mob.jpg' %}" /></a></li>
                  <li><a href="/"><img src="{% static 'layout/img/srb-mob.jpg' %}" /></a></li>
                  </ul>
                </div>
              <div class="logo-for-mob-on-menu">
                <a href="{% url 'layout:home' %}">
                <img src="{% static 'layout/img/logo4.png' %}" class="img-fluid" />
              </a>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <ul class="mob-mar">
                    <li><a href="{% url 'layout:home' %}">{% trans "naslovna" %}</a></li>
                    {% if LANGUAGE_CODE == 'sr'%}
                    <li><a href="https://blog.parentstime.rs/">blog</a></li>
                    {% elif LANGUAGE_CODE == 'en'%}
                    <li><a href="https://blog.parentstime.rs/">blog</a></li>
                    {% endif%}
                    <li><a href="{% url 'layout:contact' %}">{% trans "kontakt" %}</a></li>
                    {% if user.is_authenticated and user.user_type == 1 %}
                     <li><a href="{% url 'connection:all_babysitters' %}">{% trans "baza bebisitera/dadilja" %}</a></li>
                    {%endif%}
                  </ul>
                </div>
                <div class="col-md-4">
                           <!--USER IS AUTHENTICATED-->
                           {% if user.is_authenticated %}
                           <div class="logout">
                            <a class="btn btn-logout" href="{% url 'account:logout' %}">{% trans "Odjavi se" %}</a>
                              {%if user.user_type == 1%}
                              <a class="btn btn-logout" href="{% url 'family:profil' %}">{% trans "Profil" %}</a>
                              {%else%}
                              <a class="btn btn-logout" href="{% url 'babysitter:profil' %}">{% trans "Profil" %}</a>
                              {%endif%}
                          </div>
                              {%if user.user_type == 1%}
                                 {%if request.user.family.picture.url == '' %}                               
                                 {%else%}
                                 <div class="login-user">
                                 <a href="{% url 'family:profil' %}">
                                  <img src="{{request.user.family.picture.url}}" class="img-fluid" /></a>
                                  </div>
                                  {%endif%}
                              {%else%}
                                 {%if request.user.babysitter.picture.url == '' %}
                                 {%else%}
                                 <div class="login-user">
                                 <a href="{% url 'babysitter:profil' %}">
                                 <img src="{{request.user.babysitter.picture.url}}" class="img-fluid" />
                                 {% if number_waiting_connections_base%}
                                   <div class="reserve-info">{{number_waiting_connections_base}}</div>  
                                 {% endif %} 
                                </a>
                                 </div>
                                 {%endif%}
                              {%endif%}
                             <!--USER IS NOT AUTHENTICATED-->
                        {%else%}
                      <div class="no-login-select">
                        <button class="dropbtn btn"><i class="far fa-user"></i> {% trans "Registruj se/prijavi se" %} </button>
                        <div class="dropdown-content">
                          <a href="{% url 'account:register_babysitter' %}">{% trans "Kao Bebisiter/Dadilja" %}</a>
                          <a href="{% url 'account:register_family' %}">{% trans "Kao Porodica" %}</a>
                          <a href="{% url 'account:login' %}">{% trans "Prijavi se" %}</a>       
                        </div>
                      </div> 
                    {%endif%}
                </div>
              </div>
            </nav>
          </div>
        </div>
      </header>
    </div>
    <!-- nav -->

    <!-- HEADER KRAJ -->

  {% block content%}
  {% endblock %}

    <!-- FOOTER POČETAK -->

    <footer>
      <div class="divider-sub"></div>
      <div class="footer-wrapper-main">
        <div class="container">
          <div class="footer-insade">
            <div class="row">
              <div class="col-lg-6 col-xl-3 col-md-6">
                <div class="footer-wrapper">
                  <a href="{% url 'layout:home' %}">
                    <img src="{% static 'layout/img/logo4.png' %}" class="img-fluid" />
                    </a>
                  <p class="footer-logo-info">{% blocktrans %} "Parent's time je platforma koja je tu da izađe u susret
                    svakom roditelju kome je potrebna pomoć prilikom traženja
                    idealne osobe koja bi čuvala njihovo dete kada oni to nisu u
                    mogućnosti."{% endblocktrans %}
                   
                  </p>
                </div>
              </div>
              <div class="col-lg-6 col-xl-3 col-md-6">
                <div class="footer-wrapper">
                  <div class="footer-main-link">
                    <h4>{% trans "Brzi linkovi" %}</h4>
                    <ul>
                      <li>
                        <a href="{% url 'layout:home' %}">{% trans "Naslovna" %}</a>
                      </li>
                      {% if user.is_authenticated and user.user_type == 1 %}
                      <li><a href="{% url 'connection:all_babysitters' %}">{% trans "Baza bebisitera/dadilja" %}</a></li>
                      {%endif%}
                      {% if LANGUAGE_CODE == 'sr'%}
                         <li><a href="https://blog.parentstime.rs/">Novosti iz dečijeg sveta</a></li>
                        {% elif LANGUAGE_CODE == 'en'%}
                        <li><a href="https://blog.parentstime.rs/">News from the children's world</a></li>
                        {% endif%}
                      <li>
                           <a href="{% url 'layout:instruction_page' %}">{% trans "Uputstvo za korišćenje platforme" %}</a>
                         </li>
                      <li>
                        <a href="{% url 'layout:contact' %}">{% trans "Kontakt" %}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-xl-6 col-md-12">
                <div class="footer-wrapper">
                  <div class="fot-map-info-main">
                    <div class="fot-map-text">
                      <p>{% blocktrans %}  "U svakom trenutku pronađite dadilju na teritoriji cele
                        Srbije koja odgovara baš Vašoj porodici!" {% endblocktrans %}
                        
                      </p>
                      <p>{% trans "U promo periodu besplatna i uvek dostupna baza bebisitera/dadilja" %}</p>
                      {% if user.is_authenticated %}
                      {%else%}
                      <div class="no-login-select">
                        <button class="dropbtn btn"><i class="far fa-user"></i> {% trans "Registruj se/prijavi se" %} </button>
                        <div class="dropdown-content">
                           <a href="{% url 'account:register_babysitter' %}">{% trans "Kao Bebisiter/Dadilja" %}</a>
                           <a href="{% url 'account:register_family' %}">{% trans "Kao Porodica" %}</a>
                           <a href="{% url 'account:login' %}">{% trans "Prijavi se" %}</a>       
                        </div>
                        </div> 
                        {%endif%}
                    </div>                    
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-xl-4 col-md-12">
                <div class="footer-wrapper sub-mar">
                  <h4>{% trans "Pretplatite se na naš blog" %}</h4>
                     <form action="{% url 'layout:newsletter' %}" method="post">
                        {% csrf_token%}
                       <div class="form-newsletter">
                         {{form.email}}
                      <button type="submit" class="btn btn-primary dugme">
                        <i class="fas fa-paper-plane"></i>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="footer-bottom">
            <ul class="agree-ul-f">
              <li>
                <a href="">{% trans "Uslovi korišćenja i politika privatnosti" %}</a>
              </li>
              <li>
                <a href="">{% trans "Mere poverenja i bezbednosti" %}</a>
              </li>
            </ul>
            <ul class="soc-bot-link">
              <li>
                <a href="https://www.facebook.com/Parents-time-102157838176047/"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="https://instagram.com/parents.time?utm_medium=copy_link"><i class="fab fa-instagram"></i></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/company/parent-s-time"><i class="fab fa-linkedin-in"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="{% static 'layout/js/custom.js' %}"></script>
  </body>
</html>

<!-- FOOTER KRAJ -->
