{% extends "layout/base_contact.html" %}
{% load i18n %}
{% load static %}
{% block title%} {% trans "Kontakt" %} {% endblock %}

{% block content%}
  
<div class="slid insade-slid">
  <div class="container-wrap-gradient"></div>
  <img src="{% static 'layout/img/naslovna3.jpg' %}" />
</div>

<section class="profil-wrapper">
  <div class="container add-fluid-div">
    <div class="insade-profil-wrapper">
      <div class="user-title">
        <h1>{% trans "Kontakt" %}</h1>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="contact-right">
            <h2>{% blocktrans %} "Ukoliko imate bilo kakvih nedoumica ili pitanja, možete nas
              kontaktirati, a mi ćemo Vam odgovoriti u najkraćem roku." {% endblocktrans %}
              
            </h2>
            <ul class="contact">             
            <li>
                <div class="contact-icon">
                  <i class="fas fa-envelope"></i>
                </div>
                <div class="contact-text no-link">
                <a href="mailto:email@example.com">contact@parentstime.rs</a>  
                </div>
              </li>
            </ul>
            <ul class="social-contact">
              <a href="https://www.facebook.com/Parents-time-102157838176047/">
                <li><i class="fab fa-facebook"></i></li>
              </a>
              <a href="https://instagram.com/parents.time?utm_medium=copy_link">
                <li><i class="fab fa-instagram"></i></li>
              </a>
              <a href="https://www.linkedin.com/company/parent-s-time">
                <li><i class="fab fa-linkedin-in"></i></li>
              </a>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="contact-left">
                             <!-- MESSAGES-->
                  {% if messages %}
                     {% for message in messages %}
                        <div class="main_message">
                                 <div
                                 class="alert alert-dismissible fade show {{ message.tags }}"
                                 role="alert"
                                 >
                                 <span class="al-text">{{message}}</span>

                                 <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="alert"
                                    aria-label="Close"
                                 ></button>
                                 </div>
                           </div> 
                     {% endfor %}
                  {% endif %}
                  <br>
                  <!-- MESSAGES-->
            <form method="POST" action="{% url 'layout:contact_message' %}">
              {% csrf_token%}
              <div class="mb-3">
                <label for="sender_name" class="form-label">{% trans "Ime" %}</label>
                {{form.name}}
              </div>
              <div class="mb-3">
                <label for="sender_email" class="form-label">E-mail</label>
                {{form.email}}
              </div>
              <div class="mb-3">
                <label for="sender_message" class="form-label">{% trans "Poruka" %}</label>
                {{form.contact_message}}
              </div>
              <input
                type="submit"
                name="send_msg"
                value="Pošalji"
                class="btn btn-log-reg"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}