{% extends "layout/base_contact.html" %}
{% load i18n %}
{% load static %}
{% block title%} {% trans "Instrukcije" %} {% endblock %}
{% block content%}
<div class="slid insade-slid">
   <div class="container-wrap-gradient"></div>
   <img src="{% static 'layout/img/naslovna3.jpg' %}" />
</div>
<section class="profil-wrapper" >
   <div class="container add-fluid-div">
      <div class="instructional-page" >
         <div class="user-title edit-calendar-h1">
            <h1 class="calendar-h1" >{% trans "Detaljno uputstvo za korišćenje platforme" %}</h1>
         </div>
         <div class="accordion" id="accordionExample">
            <div class="accordion-item">
               <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                 {% trans "Kako platforma funkcioniše - ako ste porodica kojoj je potrebna usluga čuvanja dece? " %} 
                  </button>
               </h2>
               <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                     <h4 class="inst-h4" >{% trans "Ukoliko ste u potraza za bebisiterom/dadiljom došli ste na pravo mesto." %}</h4>
                     <h5 class="inst-5">
                        {% blocktrans %} 
                        Parent's time je platforma pomoću koje možete stupiti u kontakt sa
                        bebisiterima/dadiljama koje pružaju usluge čuvanja dece i ukoliko 
                        odgovarate jedni drugima možete ih vrlo brzo i jednostavno kontaktirati i početi sa radom.
                        {% endblocktrans %} 
                        
                     </h5>
                     <p class="inst-first-p" > <b> {% trans "Platforma funkcioniše na sledeći način:" %}</b></p>
                     <p class="inst-scd-p">
                        <b> {% trans "Registracija korisnika" %}</b> 
                        {% blocktrans %}
                         - ukoliko želite da pristupite bazi dostupnih bebisitera/dadilja morate biti <a href=""> registrovani </a>
                        korisnik platforme parentstime.rs. 
                       <a href=""> Registrujete</a> se pomoću email adrese i lozinke.
                        Obratite pažnju na to da lozinka bude što bolja kako biste što bolje zaštitili svoje podatke.
                        Nakon <a href="">registracije </a> potrebno je da verifikujete svoju email adresu 
                        odlaskom na vaš email nalog i klikom na verifikacioni link. 
                        {% endblocktrans %}     
                     </p>
                     <p class="inst-scd-p" >
                        <b> {% trans "Popunjavanje profila" %} </b>
                        {% blocktrans %} 
                        - nakon uspešne <a href="">registracije</a> i verifikacije,
                        prelazite na sledeći korak. Naredni korak je popunjavanje informacija na vašem profilu.
                        Kreiranje profila se sastoji iz dva koraka: popunjavanja osnovnih informacija o sebi i dodavanja slike.
                        Vaš profil je dostupan samo bebisiterima/dadiljama kojima vi pošaljete zahtev za rezervaciju.
                        {% endblocktrans %}    
                     </p>
                     <p class="inst-scd-p" >
                        <b> {% trans "Ažuriranje vremena" %} </b> 
                        {% blocktrans %} 
                         - u ovom koraku je potrebno da dodate informacije o vremenu
                        kada vam je potrebna usluga čuvanja dece. 
                        Možete izabrati dane kao i doba dana kada vam je usluga potrebna (ujutru, popodne, uveče ili noću).
                        {% endblocktrans %}  
                       
                     </p>
                     <p class="inst-scd-p" >
                        {% blocktrans %} 
                        Kreiranje profila je završeno. Čestitamo. 
                        Sada možete pristupiti bazi dostupnih bebisitera/dadilja 
                        i stupiti u kontakt sa njima.
                        {% endblocktrans %} 
                     </p>
                     <p class="inst-scd-p">
                        <b>{% trans "Ažuriranje profila -" %}</b>
                        {% blocktrans %} 
                        u svakom trenutku možete da ažurirate vaš profil i vreme kada vam je potrebno čuvanje dece.
                        {% endblocktrans %} 
                        
                     </p>
                     <p class="inst-scd-p" >
                        <b> {% trans "Baza bebisitera/dadilja" %}</b>
                        {% blocktrans %} 
                        - Sada kada ste <a href=""> registrovani</a> korisnik možete pristupiti
                        bazi bebisitera/dadilja i vrlo brzo i jednostavno pronaći osobu koja odgovara baš vašim kriterijumima pomoću 
                        {% endblocktrans %}  
                     </p>
                     <p class="inst-scd-p" >
                        <b> {% trans "Poklapanje sa bebisiterima/dadiljama" %} </b> 
                        {% blocktrans %} 
                        -  na stranici baza bebisitera/dadilja,
                        koja će vam biti dostupna nakon <a href=""> registracije</a>, možete videti sve dostupne bebisitere/dadilje 
                        i filtrirati ih baš prema vašim kriterijumima. 
                        Nakon što pronađete odgovarajućeg bebisitera/dadilju možete videti njihov profil sa detaljnim informacijama i rezervisati korisnika.
                        {% endblocktrans %} 
                     </p>
                     <p class="inst-scd-p" >
                        <b>{% trans "Rezervacija" %} </b> 
                        {% blocktrans %} 
                        - Kada pošaljete zahtev za rezervaciju bebisiter/dadilja ga može prihvatiti ili odbiti. Nakon što je vaša rezervacija prihvaćena dobijate mogućnost ocenjivanja, 
                        komentarisanja i prijavljivanja korisnika.
                        Vaš profil takođe u ovom slučaju može biti ocenjen,
                        komentarisan i prijavljen od strane bebisitera/dadilja.
                        {% endblocktrans %} 
                     </p>
                     <p class="inst-scd-p" >
                        <b>{% trans "Srećno u pronalaženju bebisitera/dadilja :)" %}</b>
                     </p>
                     <a class="inst-btn-reg btn" href="{% url 'account:register_family' %}">{% trans "Registruj se" %}</a>
                  </div>
               </div>
            </div>
            <div class="accordion-item">
               <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button inst-pm-b collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  {% trans "Kako platforma funkcioniše - ako ste bebisiter/dadilja koja je u potrazi za poslom?" %}  
                  </button>
               </h2>
               <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                     <h4 class="inst-h4" >{% trans "Ukoliko ste u potraza za poslom bebisitera/dadilje došli ste na pravo mesto." %}</h4>
                     <h5 class="inst-5">
                        {% blocktrans %} 
                        Parent's time je platforma pomoću koje možete stupiti u 
                        kontakt sa porodicom kojoj je potrebna usluga čuvanja dece i ukoliko odgovarate jedni drugima početi sa radom.
                        {% endblocktrans %}
                        
                     </h5>
                     <p class="inst-first-p" > <b> {% trans "Platforma funkcioniše na sledeći način:" %}</b></p>
                     <p class="inst-scd-p" >
                        <b>{% trans "Registracija korisnika" %}</b> 
                        {% blocktrans %} 
                        - ukoliko želite da vaš profil bude dostupan porodicama koje traže usluge bebisitera/dadilja morate se prvo <a href=""> registrovati</a> na platformu. <a href=""> Registrujete</a> se pomoću email adrese i lozinke. Obratite pažnju na to da lozinka bude što bolja kako biste što bolje zaštitili svoje podatke.
                          Nakon <a href=""> registracije</a> potrebno je da verifikujete svoju email adresu odlaskom
                          na vaš email nalog i klikom na verifikacioni link.
                        {% endblocktrans %}
                        
                         
                     </p>
                     <p class="inst-scd-p" >
                        <b>  {% trans "Popunjavanje profila" %}</b> 
                        {% blocktrans %} 
                            - nakon uspešne <a href=""> registracije</a> i verifikacije, prelazite na sledeći korak. Naredni korak je popunjavanje informacija na vašem profilu. Ovaj korak je malo duži, ali ne brinite, svaka od ovih informacija će pomoći roditeljima da brže i lakše pronađu vaš profil. Kreiranje profila se sastoji iz tri koraka:
                        popunjavanja osnovnih informacija o sebi,
                        dodavanja slike i odgovora na pitanja koja
                        će pomoći da vaš profil na parentstime.rs platformi bude što bolji.
                        {% endblocktrans %}
                        
                     </p>
                     <p class="inst-scd-p" >
                        <b> {% trans "Ažuriranje dostupnosti" %}</b>
                        {% blocktrans %} 
                           - u ovom koraku je potrebno da dodate informacije o vašoj dostupnosti. 
                        Ovo se odnosi na vreme kada ste slobodni da radite.
                        Možete izabrati dane kojima ste slobodni za rad kao i doba dana kada ste slobodni (ujutru, popodne, uveče ili noću).
                        {% endblocktrans %}
                        
                     </p>
                     <p class="inst-scd-p" >
                       {% trans "Kreiranje profila je završeno. Čestitamo. Sada je vaš profil vidljv svim registrovanim korisnicima." %}
                     </p>
                     <p class="inst-scd-p" >
                        <b> {% trans "Ažuriranje profila -" %}</b>
                         {% trans "- u svakom trenutku možete da ažurirate vaš profil i vašu dostupnost." %}
                     </p>
                     <p class="inst-scd-p" >
                       {% trans " Sada kada je vaš profil aktivan porodice vas mogu pronaći i stupiti u kontakt sa vama." %}
                     </p>
                     <p class="inst-scd-p" >
                        <b>{% trans "Poklapanje sa potrebama porodice" %} </b> 
                        {% blocktrans %} 
                           -  ukoliko porodica smatra da ste baš vi prava osoba koja će čuvati njihovo dete/decu može 
                        vas pozvati, poslati vam e-mail, 
                        kontaktirati vas putem društvenih mreža koje ste ostavili i poslati zahtev za rezervaciju na platformi parentstime.
                        {% endblocktrans %}
                        
                     </p>
                     <p class="inst-scd-p" >
                        <b>{% trans "Rezervacija" %}</b>
                        {% blocktrans %} 
                           - Kada vam roditelj pošalje zahtev za rezervaciju 
                        vi ga možete prihvatiti ili odbiti. 
                        Nakon što prihvatite zahtev vaš profil može biti ocenjen i
                        komentarisan i prijavljen od strane samo onih prodica čije ste zahteve prihvatili.
                        Što bolje ocene i komentare imate vaš profil če biti vidiljiv porodicama.
                        Takođe i vi možete oceniti, komentarisati i prijaviti profil porodice.
                        {% endblocktrans %}
                        
                     </p>
                     <p class="inst-scd-p" >
                        <b>{% trans "Srećno u pronalaženju posla :)" %}</b>
                     </p>
                     <a class="inst-btn-reg btn" href="{% url 'account:register_babysitter' %}">{% trans "Registruj se" %}</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
{% endblock %}

