{% extends "base_reset.html" %}
{% load i18n %}
{% load static %}
{% block title%} {% trans "Kalendar " %} {% endblock %}

{% block content%}
<div class="slid insade-slid">
    <div class="container-wrap-gradient"></div>
    <img src="{% static 'layout/img/naslovna3.jpg' %}" />  
 </div>
 
 <section class="profil-wrapper">
    <div class="container add-fluid-div">
       <div class="insade-profil-wrapper insade-profil-wrapper-bebisit">
          <div class="user-title edit-calendar-h1">
             <h1 class="calendar-h1">{% trans "Vreme kada možete" %} <span class="calendar-title-baby" > {% trans "da čuvate decu" %}</span></h1>
          </div>
          <div class="profile_edit">
             <form method="post" action="">
                 {% csrf_token %}
                <div class="row d-flex justify-content-center">
                   
                   <div class="col-lg-10">
                      <div class="profile_edit_right">
                        <h3 >{% trans "Vreme vaše dostupnosti" %}</h3>
                            <div class="select-btn mt-4">
                               <input type="button" class="select_all" value="Selektuj sve"/>  
                               <input type="button" class="deselect_all" value="Resetuj selektovan"/>  
                            </div>
                         <div class="user-table table-responsive table-sm">
                            
                            <table class="table table-striped table-hover">
                               <thead>
                                  <tr>
                                     <th scope="col"></th>
                                     <th scope="col">{% trans "Ponedeljak" %}</th>
                                     <th scope="col">{% trans "Utorak" %}</th>
                                     <th scope="col">{% trans "Sreda" %}</th>
                                     <th scope="col">{% trans "Četvrtak" %}</th>
                                     <th scope="col">{% trans "Petak" %}</th>
                                     <th scope="col">{% trans "Subota" %}</th>
                                     <th scope="col">{% trans "Nedelja" %}</th>
                                  </tr>
                               </thead>
                               <tbody>
                                  <tr>
                                     <th scope="row">{% trans "Jutro" %}</th>
                                     <td>{{babysitter_calendar_form.morning_monday}}</td>
                                     <td>{{babysitter_calendar_form.morning_tuesday}}</td>
                                     <td>{{babysitter_calendar_form.morning_wednesday}}</td>
                                     <td>{{babysitter_calendar_form.morning_thursday}}</td>
                                     <td>{{babysitter_calendar_form.morning_friday}}</td>
                                     <td>{{babysitter_calendar_form.morning_saturday}}</td>
                                     <td>{{babysitter_calendar_form.morning_sunday}}</td>       
                                  </tr>
                                  <tr>
                                     <th scope="row">{% trans "Popodne" %}</th>
                                     <td>{{babysitter_calendar_form.afternoon_monday}}</td>
                                     <td>{{babysitter_calendar_form.afternoon_tuesday}}</td>
                                     <td>{{babysitter_calendar_form.afternoon_wednesday}}</td>
                                     <td>{{babysitter_calendar_form.afternoon_thursday}}</td>
                                     <td>{{babysitter_calendar_form.afternoon_friday}}</td>
                                     <td>{{babysitter_calendar_form.afternoon_saturday}}</td>
                                     <td>{{babysitter_calendar_form.afternoon_sunday}}</td> 
                                  </tr>
                                  <tr>
                                     <th scope="row">{% trans "Veče" %}</th>
                                     <td>{{babysitter_calendar_form.evening_monday}}</td>
                                     <td>{{babysitter_calendar_form.evening_tuesday}}</td>
                                     <td>{{babysitter_calendar_form.evening_wednesday}}</td>
                                     <td>{{babysitter_calendar_form.evening_thursday}}</td>
                                     <td>{{babysitter_calendar_form.evening_friday}}</td>
                                     <td>{{babysitter_calendar_form.evening_saturday}}</td>
                                     <td>{{babysitter_calendar_form.evening_sunday}}</td> 
                                  </tr>
                                  <tr>
                                     <th scope="row">{% trans "Noć" %}</th>
                                     <td>{{babysitter_calendar_form.night_monday}}</td>
                                     <td>{{babysitter_calendar_form.night_tuesday}}</td>
                                     <td>{{babysitter_calendar_form.night_wednesday}}</td>
                                     <td>{{babysitter_calendar_form.night_thursday}}</td>
                                     <td>{{babysitter_calendar_form.night_friday}}</td>
                                     <td>{{babysitter_calendar_form.night_saturday}}</td>
                                     <td>{{babysitter_calendar_form.night_sunday}}</td>
                                  </tr>
                               </tbody>
                            </table>
                         </div>
                      </div>
                   </div>
                </div>
                <input type="submit" name="send_msg" value="{% blocktrans %} Ažuriraj kalendar {% endblocktrans %}" class="btn btn-log-reg">
             </form>
          </div>
       </div>
    </div>
 </section>
 <script type="text/javascript" src="{% static 'layout/js/babysitter_family_edit_calendar.js' %}"></script>
{% endblock %}