{% extends "layout/base_contact.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title%} Babysitter Profil {% endblock %}

{% block content%}
<h1>Profil {{profil.first_name}} {{profil.last_name}}</h1>
            <!-- MESSAGES-->
                  {% if messages %}
                     {% for message in messages %}
                        <div class="main_message">
                                 <div
                                 class="alert alert-dismissible fade show {{ message.tags }}"
                                 role="alert"
                                 >
                                 <span class="al-text">{{message}}</span>

                                 <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="alert"
                                    aria-label="Close"
                                 ></button>
                                 </div>
                           </div> 
                     {% endfor %}
                  {% endif %}
                  <br>
                  <!-- MESSAGES-->
<ul>
    <li>{{profil.first_name}}</li>
    <li>{{profil.last_name}}</li>
    <li>{{profil.about_me}}</li>
    <li>{{profil.about_me_eng}}</li>  
    <li>{{profil.sity}}</li>
    <li>{{profil.mobile_number}}</li>
    <li>{{profil.email}}</li>
    <li>{{profil.social_network}}</li>
    <li>{{profil.number_children}}</li>
    <li>{{profil.age_children}}</li>
    <li>{{profil.citizenship}}</li>
    <li>{{profil.age}}</li>
    <li>
       {% if profil.sex == 'Žensko'%}
       Ž
      {% else %}
      M
      {%endif%}
    </li>
    {%if request.user.babysitter.babysittercalendar.morning_monday %}
    <li>Dostupan u ponedeljak ujutru</li>
    {%else%}
    <li>Nije dostupan u ponedeljak ujutru</li>
    {%endif%}
  <!--  <li> {{request.user.babysitter.babysittercalendar.morning_monday}}</li>
    <li><img src="{{profil.picture.url}}" alt=""></li> -->   
</ul>

<a class="btn btn-user-login-inmodal" href="{% url 'account:logout' %}">Odjavi se</a>
<a class="btn btn-user-login-inmodal" href="{% url 'babysitter:edit_profil' %}">Azuriraj profil</a>
<a class="btn btn-user-login-inmodal" href="{% url 'babysitter:edit_calendar' %}">Azuriraj dostupnost</a>
{% endblock %}