{% extends "base_reset.html" %}
{% load i18n %}
{% load static %}
{% block title %} {% trans "Email već verifikovan" %} {% endblock %}

{% block content %}
    <div class="slid insade-slid">
        <div class="container-wrap-gradient"></div>
        <img src="{% static 'layout/img/naslovna3.jpg' %}" />
    </div>

    <section class="profil-wrapper">
      <div class="container add-fluid-div">
        <div class="insade-profil-wrapper">
          <div class="user-title">
            <h1 class="extrasmalldev">{% trans "Email ste već uspešno verifikovali" %}</h1>
          </div>
            <div class="login-form">
              <div class="row  d-flex justify-content-center">
              <div class="col-lg-6 ">
               <h2>{% trans "Čestitamo, Vaš Email je verifikovan" %}</h2>
               <h3>{% trans "Molimo Vas prijavite se, kako bi ste koristili naš servis u potpunosti." %}</h3>
              </div>  
              </div>
                <div class="text-center">
                    <a class="btn verify-btn" href="{% url 'account:login' %}" >{% trans "Prijavi se" %}</a>
                 </div>
            </div>          
        </div>
      </div>
    </section>
{% endblock %}
    


  