{% extends "layout/base_contact.html" %}
{% load i18n %}
{% load static %}
{% block title %} Login {% endblock %}

{% block content %}
    <div class="slid insade-slid">
        <div class="container-wrap-gradient"></div>
        <img src="{% static 'layout/img/naslovna3.jpg' %}" />
    </div>

    <section class="profil-wrapper">
      <div class="container add-fluid-div">
        <div class="insade-profil-wrapper">
          <div class="user-title">
            <h1 class="extrasmalldev">{% trans "Prijavi se" %}</h1>
          </div>
            <!-- MESSAGES-->
                  {% if messages %}
                     {% for message in messages %}
                        <div class="main_message">
                                 <div
                                 class="alert alert-dismissible fade show {{ message.tags }}"
                                 role="alert"
                                 >
                                 <span class="al-text">{{message}}</span>

                                 <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="alert"
                                    aria-label="Close"
                                 ></button>
                                 </div>
                           </div> 
                     {% endfor %}
                  {% endif %}
                  <br>
                  <!-- MESSAGES-->
            <div class="login-form">
              <div class="row  d-flex justify-content-center">
              <div class="col-lg-6 ">
                <form action="" method="POST" >
                    {% csrf_token%}
                      <div class="mb-3">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="email" class="form-control" id="email" name="email_login">
                      </div>
                        <div class="mt-3">
                        <label for="password" class="form-label">{% trans "Lozinka" %}</label>
                        <input type="password" class="form-control"  name="password_login">
                      </div>
                      
                      <button type="submit" class="btn btn-user-login-inmodal" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      {% trans "Prijavi se" %}
                    </button>
                    <div class="reset_pass_link">
                          <a href="{% url 'password_reset' %}">{% trans "Zaboravili ste lozinku" %}</a>
                        </div>
                </form>
              </div>  
              </div>
            </div>          
        </div>
      </div>
    </section>
{% endblock %}