{% extends "base_reset.html" %}
{% load static %}
{% block title %} Logout {% endblock %}

{% block content %}
    <div class="slid insade-slid">
        <div class="container-wrap-gradient"></div>
        <img src="{% static 'layout/img/naslovna3.jpg' %}" />
    </div>

    <section class="profil-wrapper">
      <div class="container add-fluid-div">
        <div class="insade-profil-wrapper">
          <div class="user-title">
            <h1 class="extrasmalldev">Uspešno ste se odjavili</h1>
          </div>
            <div class="login-form">
              <div class="row  d-flex justify-content-center">
              <div class="col-lg-6 ">
               <h2>Hvala što ste koristili naše usluge</h2>
               <h3>Molimo Vas prijavite se, kako bi ste ponovo koristili naš servis.</h3>
              </div>  
              </div>
                <div class="text-center">
                    <a class="btn btn-report-user" href="{% url 'account:login' %}" >Login</a>
                 </div>
            </div>          
        </div>
      </div>
    </section>
{% endblock %}
    


  