{% extends "layout/base_contact.html" %}
{% load static %}
{% block title %} Register Family {% endblock %}

{% block content %}

<div class="slid insade-slid">
  <div class="container-wrap-gradient"></div>
  <img src="{% static 'layout/img/naslovna3.jpg' %}" />
</div>

<section class="profil-wrapper">
  <div class="container add-fluid-div">
    <div class="insade-profil-wrapper">
      <div class="user-title">
        <h1 class="extrasmalldev">Registruj se kao roditelj</h1>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="register-info">
            <p>
              Dragi roditelji, <br />
              Koliko puta se desilo da ostanete duže na poslu i ne možete da
              stignete da pokupitedecu iz vrtića na vreme? Ili želite da izađete
              sa partnerom na romantičnu večeru zadvoje? Da se vidite se sa
              prijateljima koje dugo niste videli? Odete u nabavku iobavite
              kućne poslove? Ili jednostavno želite da izdvojite vreme za sebe?
              A bake ideke nisu mogle da uskoče i pripomognu u čuvanju unuka?
              Mnogo puta,pretpostavljamo.
            </p>

            <p>
              <b
                >Biti roditelj nije lako u današnje vreme kada se brzo živi i
                dan prekratko traje zasve obaveze koje treba obaviti.</b
              >
            </p>
            <p>
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Zato smo mi tu za vas, da vam
              pomognemo da na najbrži naćin pronađeteidealnu osobu koja će
              voditi računa o vašim mališanima, u trenucima kada vi to nisteu
              mogućnosti.
            </p>
            <p>
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Registrujte se
              <b> besplatno u promo periodu</b> na našem sajtu i pronađite
              osobukoja će čuvati vaše dete/decu u samo par koraka.
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="user-main-info">
            <div class="register-form-login">
              <div class="login-div">
                <p>
                  Ukoliko ste već registrovani kod nas kliknite na dugme
                  "Prijavi se". <br />
                  Ukoliko niste možete se prijaviti pomoću socijalnih mreža ili
                  se registrovati
                </p>
                <a class="btn btn-user-login-inmodal" href="{% url 'account:login' %}">Prijavi se</a>
              </div>
            </div>

            <div class="register-form">
              <h4>Registruj se</h4>
              <!--FORM***************-->
              {% if form.errors %}
                {% for field in form %}
                  {% for error in field.errors %}
                    <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                    </div>
                  {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                  <div class="alert alert-danger">
                     <strong>{{ error|escape }}</strong>
                  </div>
                {% endfor %}
              {% endif %}
              <form action="" method="POST">
                {% csrf_token%}
                <div class="row">
                  <div class="mb-3">
                    <label for="email" class="form-label">E-mail</label>
                      <!--INPUT EMAIL-->
                    {{form.email}}
                  </div>
                  <div class="col-lg-6">
                    <div class="mb-3">
                      <label for="password" class="form-label">Lozinka</label>
                      <!--INPUT PASSWORS1-->
                     {{form.password1}}
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="mb-3">
                      <label for="repeat-password" class="form-label"
                        >Ponovi lozinku</label
                      >
                      <!--INPUT PASSWORS2-->
                      {{form.password2}}
                    </div>
                  </div>
                </div>
                <div class="mb-3 form-check">
                  <!--INPUT CHECKBOX-->
                  {{form.is_terms_confirmed}}
                  <span
                    ><label class="form-check-label" for="exampleCheck1"
                      >Slažem se sa uslovima korišćenja</label
                    >
                  </span>
                  <span
                    ><div class="form-check-agree">
                      <a href="">Uslovi korišćenja</a>
                    </div></span
                  >
                </div>

                <button type="submit" class="btn btn-log-reg">
                  Registracija
                </button>
                
              </form>
              <!--FORM***************-->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

