{% extends "layout/base_contact.html" %}
{% load i18n %}
{% load static %}
{% block title %} {% trans "Registracija Porodice" %} {% endblock %}

{% block content %}

<div class="slid insade-slid">
  <div class="container-wrap-gradient"></div>
  <img src="{% static 'layout/img/naslovna3.jpg' %}" />
</div>

<section class="profil-wrapper">
  <div class="container add-fluid-div">
    <div class="insade-profil-wrapper">
      <div class="user-title">
        <h1 class="extrasmalldev">{% trans "Registruj se kao roditelj" %}</h1>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="register-info">
            <p>
              {% blocktrans %}
               Dragi roditelji, <br />
              Koliko puta se desilo da ostanete duže na poslu i ne možete da
              stignete da pokupite decu iz vrtića na vreme? Ili želite da izađete
              sa partnerom na romantičnu večeru za dvoje? Da se vidite sa
              prijateljima koje dugo niste videli? Odete u nabavku i obavite
              kućne poslove? Ili jednostavno želite da izdvojite vreme za sebe?
              A bake i deke nisu mogle da uskoče i pripomognu u čuvanju unuka?
              Mnogo puta, pretpostavljamo.
              {% endblocktrans %}      
            </p>
            <p>
              <b>{% blocktrans %} 
                  Biti roditelj nije lako u današnje vreme kada se brzo živi i
                  dan prekratko traje zasve obaveze koje treba obaviti.
                {% endblocktrans %}      
                
              </b>
            </p>
            <p>{% blocktrans %}
              Zato smo mi tu za vas, da vam
              pomognemo da na najbrži način pronađete idealnu osobu koja će
              voditi računa o vašim mališanima, u trenucima kada vi to niste u
              mogućnosti.  
              {% endblocktrans %}       
            </p>
            <p>{% blocktrans %}
               Registrujte se
              <b> besplatno u promo periodu</b> na našem sajtu i pronađite
              osobu koja će čuvati vaše dete/decu u samo par koraka.
              {% endblocktrans %} 
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="user-main-info">
            <div class="register-form-login">
              <div class="login-div">
                <p>{% blocktrans %}
                  Ukoliko ste već registrovani kod nas kliknite na dugme
                  "Prijavi se".
                  {% endblocktrans %}  <br />
                </p>
                <a class="btn btn-user-login-inmodal" href="{% url 'account:login' %}">{% trans "Prijavi se" %}</a>
              </div>
            </div>

            <div class="register-form">
              <h4>{% trans "Registruj se" %}</h4>
              <!--FORM***************-->
              {% if form.errors %}
                {% for field in form %}
                  {% for error in field.errors %}
                   <div class="alert alert-danger" id='{{error|length }}'>
                      <strong>{{ error|escape }}</strong>
                    </div>
                  {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                  <div class="alert alert-danger">
                     <strong>{{ error|escape }}</strong>
                  </div>
                {% endfor %}
              {% endif %}
              <form action="" method="POST">
                {% csrf_token%}
                <div class="row">
                  <div class="mb-3">
                    <label for="email" class="form-label">E-mail</label>
                      <!--INPUT EMAIL-->
                    {{form.email}}
                  </div>
                  <div class="col-lg-6">
                    <div class="mb-3">
                      <label for="password" class="form-label">
                        {% trans "Lozinka" %}
                      </label>
                      <!--INPUT PASSWORS1-->
                     {{form.password1}}
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="mb-3">
                      <label for="repeat-password" class="form-label">
                        {% trans "Ponovi lozinku" %}
                        </label>
                      <!--INPUT PASSWORS2-->
                      {{form.password2}}
                    </div>
                  </div>
                </div>
                <div class="mb-3 form-check">
                  <!--INPUT CHECKBOX-->
                  {{form.is_terms_confirmed}}
                  <span
                    ><label class="form-check-label" for="exampleCheck1">
                      {% trans "Imate 18. ili više godina i slažete se sa uslovima korišćenja" %}
                      </label
                    >
                  </span>
                  <span
                    ><div class="form-check-agree">
                      <a 
                      {% if LANGUAGE_CODE == 'en'%}
                        href="https://blog.parentstime.rs/terms-and-conditions-of-use/"
                      {% else %}
                        href="https://blog.parentstime.rs/pravila-i-uslovi-koriscenja/"
                      {% endif %}
                      >{% trans "Uslovi korišćenja" %}</a>
                    </div></span
                  >
                </div>

                <button type="submit" class="btn btn-log-reg">
                  {% trans "Registracija" %}
                </button>
                
              </form>
              <!--FORM***************-->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<input type="hidden" id="input-{{LANGUAGE_CODE}}">
<script type="text/javascript" src="{% static 'layout/js/register_babysitter_register_family.js' %}"></script>
{% endblock %}

