{% extends "base_reset.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Poslat je verifikacioni Email" %}  {% endblock %}

{% block content %}
    <div class="slid insade-slid">
        <div class="container-wrap-gradient"></div>
        <img src="{% static 'layout/img/naslovna3.jpg' %}" />
    </div>
  <section class="profil-wrapper">
    <div class="container add-fluid-div">
      <div class="insade-profil-wrapper">
        <div class="user-title">
          <h1 class="extrasmalldev">{% trans "Molimo Vas, verifikujte svoj email" %}</h1>
        </div>
        <div class="ver-text">
            <h2>{% trans "Proverite svoj Email, poslali smo vam instrukcije za verifikaciju istog" %}</h2>
            <h3>{% trans "Ako poruke nema u inboxu-u, obavezno proverite spam" %}</h3>
        </div>
      </div>
    </div>
  </section>
{% endblock %}