



<div style="width: 80%; margin: 0 auto; background: linear-gradient(135deg, #f2cfd1 25%, transparent 0) -50px 0, linear-gradient(225deg, #f2cfd1 25%, transparent 25%) -50px 0, linear-gradient(315deg, #f2cfd1 25%, transparent 25%), linear-gradient(45deg, #f2cfd1 25%, transparent 25%);
background-color: rgba(0, 0, 0, 0);
background-size: auto, auto, auto, auto;
background-size: 100px 100px;
background-color: #efc3c5;
border-radius: 10px; text-shadow: 2px 2px rgba(0, 0, 0, 0.2);padding: 25px;position: relative;" >
Poštovani/a 
{% if user.get_full_name %}
{{ user.get_full_name }}
{% else %}
{{ user }}
{% endif %},
<h1 style="color: #fff;text-shadow: 2px 2px rgba(0, 0, 0, 0.2)" >
Primili ste ovaj email, jer ste Vi (ili neko ko se pretvara da ste Vi), zatražio
promenu lozinke na {{ domain }} sajtu. Ako ne želite da menjate lozinku, molim Vas
zanemarite ovu poruku.
</h1>
<div style="position: absolute;bottom: 0;left:50%;transform: translateX(-50%);width: 232px;height: 35px;background-color: green;">
  <img src="https://polovnooruzje.rs/static/layout/img/logo5.png" alt="">
</div>
Da bi promenili lozinku, pratite dole navedeni link, ili kopirajte link u Vašem browser-u:
<hr>
<a rel="noreferrer" href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uid token %}">
  {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uid token %} \n \n
</a> <br><br>

}Vaše korisničko ime, u slučaju da ste zaboravili je:  {{ user.get_username }}
<br><br>

S poštovanjem
{{ site_name }}| Parents Time

{# This is used by django.contrib.auth #}
</div>







