{% extends "base_reset.html" %}
{% load static %}
 {% load crispy_forms_tags %}  
{% block title %} Reset password confirm {% endblock %}

{% block content %}
    <div class="slid insade-slid">
        <div class="container-wrap-gradient"></div>
        <img src="{% static 'layout/img/naslovna3.jpg' %}" />
    </div>

    <section class="profil-wrapper">
      <div class="container add-fluid-div">
        <div class="insade-profil-wrapper">
          <div class="user-title">
            <h1 class="extrasmalldev">Molimo Vas, promenite svoju lozinku</h1>
          </div>
          <!--MESSAGE
              {% if form.errors %}
                {% for field in form %}
                  {% for error in field.errors %}
                    <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                    </div>
                  {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                  <div class="alert alert-danger">
                     <strong>{{ error|escape }}</strong>
                  </div>
                {% endfor %}
              {% endif %}-->
              <!--MESSAGE-->
            <div class="login-form">
              <div class="row  d-flex justify-content-center">
              <div class="col-lg-6 ">
                <form action="" method="POST" >
                    {% csrf_token%}
                    {% if form %}
                        <!-- <label for="new_password1" class="form-label">Nova lozinka</label>
                       {{ form.new_password1|as_crispy_field}} <br>
                       <label for="new_password2" class="form-label">Ponovi lozinku</label>
                       {{ form.new_password2|as_crispy_field}}    -->
                       {{ form|crispy }}

                    <button type="submit" class="btn btn-user-login-inmodal" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Resetuj Lozinku
                    </button>
                    {% else %}
                    <h2>Link za promenu lozinke je istekao, ponovite postupak</h2>
                    <div class="reset_pass_link">
                          <a href="{% url 'password_reset' %}">Zaboravili ste lozinku</a>
                        </div>
                    {% endif%}
                     
                
                </form>
              </div>  
              </div>
            </div>          
        </div>
      </div>
    </section>
{% endblock %}