

Poštovani/a 
{% if user.get_full_name %}
{{ user.get_full_name }}
{% else %}
{{ user }}
{% endif %},
<br><br>


Primili ste ovaj email, jer ste Vi (ili neko ko se pretvara da ste Vi), zatražio
promenu lozinke na {{ domain }} sajtu. Ako ne želite da menjate lozinku, molim Vas
zanemarite ovu poruku.

<br><br>


Da bi promenili lozinku, pratite dole navedeni link, ili kopirajte link u Vašem browser-u:

<br><br>

<a rel="noreferrer" href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uid token %}">
  {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uid token %} \n \n
</a> <br><br>

}Vaše korisničko ime, u slučaju da ste zaboravili je:  {{ user.get_username }}
<br><br>

S poštovanjem
{{ site_name }}| Parents Time

{# This is used by django.contrib.auth #}
