{% extends "base_reset.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Reset lozinke" %}{% endblock %}

{% block content %}
<div class="slid insade-slid">
    <div class="container-wrap-gradient"></div>
    <img src="{% static 'layout/img/naslovna3.jpg' %}" />
</div>

  <section class="profil-wrapper">
    <div class="container add-fluid-div">
      <div class="insade-profil-wrapper">
        <div class="user-title">
          <h1 class="extrasmalldev">{% trans "Potvrda o slanju Email-a" %}</h1>
        </div>
        <div class="ver-text">
            <h2>{% trans "Proverite svoj Email, poslali smo Vam instrukcije za promenu šifre" %}</h2>
            <h3>{% trans "Ako poruke nema u inbox, obavezno proverite spam" %}</h3>
            <div class="reset_pass_link">
                <a href="{% url 'password_reset' %}">{% trans "U sličaju problema, ponovite Postupak" %}</a>
            </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}