{% extends "base_reset.html" %}
{% load i18n %}
{% load static %}
 {% load crispy_forms_tags %}  
{% block title %} {% trans "Promena lozinke" %} {% endblock %}

{% block content %}
    <div class="slid insade-slid">
        <div class="container-wrap-gradient"></div>
        <img src="{% static 'layout/img/naslovna3.jpg' %}" />
    </div>

    <section class="profil-wrapper">
      <div class="container add-fluid-div">
        <div class="insade-profil-wrapper">
          <div class="user-title">
            <h1 class="extrasmalldev">{% trans "Molimo Vas, promenite svoju lozinku" %}</h1>
          </div>
            <div class="login-form">
              <div class="row  d-flex justify-content-center">
              <div class="col-lg-6 ">
                <form action="" method="POST" >
                    {% csrf_token%}
                    {% if form %}
                       {{ form|crispy }}
                    <button type="submit" class="btn btn-user-login-inmodal" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      {% trans "Resetuj Lozinku" %}
                    </button>
                    {% else %}
                    <h2>{% trans "Link za promenu lozinke je istekao, ponovite postupak" %}</h2>
                    <div class="reset_pass_link">
                          <a href="{% url 'password_reset' %}">{% trans "Zaboravili ste lozinku" %}</a>
                        </div>
                    {% endif%}
                </form>
              </div>  
              </div>
            </div>          
        </div>
      </div>
    </section>
    <script>
      let text = document.querySelectorAll('.requiredField')
      
      text[0].textContent='Nova lozinka*';
      text[1].textContent='Potvrda nove lozinke*';
      text.forEach(function(n){
        n.style.fontSize='20px';
        n.style.marginTop='15px';
      })
    </script>
    <script type="text/javascript" src="{% static 'layout/js/password_reset_confirm.js' %}"></script>
{% endblock %}