{% extends "layout/base_contact.html" %}
{% load static %}
{% block title %} All Babysitters {% endblock %}

{% block content %}
<div class="slid insade-slid">
  <div class="container-wrap-gradient"></div>
  <img src="{% static 'layout/img/naslovna3.jpg' %}" />
</div>
<section class="profil-wrapper">
   <div class="container add-fluid-div2">
      <div class="insade-profil-wrapper onsmallfil">
         <div class="user-title">
            <h1>Filter</h1>
         </div>
         <div class="profile_edit">
            <div class="row">
               <div class="col-lg-3 col-md-4">
                  <div class="filter-right">
                     <form action="" method="post">
                        {% csrf_token %}
                        <label for="city" class="form-label">Pretraga po gradu</label>
                        <select name="city" id="city" class="form-select" aria-label="Default select example">
                           <option selected="" value="">Izaberite lokaciju</option>
                            {% for city in city_list %}
                            <option value="{{city}}">{{city}}</option>
                            {% endfor%}
                        </select>
                        <label for="age_children" class="form-label">Uzrast dece koju bi čuvala</label>
                        <select name="age_children" id="age_children" class="form-select" aria-label="Default select example">
                            <option selected="" value="">Uzrast dece</option>
                            <option value="0-1">Beba 0-1</option>
                            <option value="1-3">1-3</option>
                            <option value="3-5">3-5</option>
                            <option value="5-12">5-12</option>
                            <option value="12-18">12-18</option>
                        </select>
                        <label for="work_type" class="form-label">Tražite (bebisiterka/dadilja)</label>
                        <select name="work_type" id="work_type" class="form-select" aria-label="Default select example">
                           <option selected="" value="">Izaberite</option>
                            {% for work in work_role_list %}
                            <option value="{{work}}">{{work}}</option>
                            {% endfor%}
                        </select>
                        <label for="experience_number" class="form-label">Godine iskustva</label>
                        <select name="experience_number" id="experience_number" class="form-select" aria-label="Default select example">
                           <option selected="" value="">Izaberite</option>
                            {% for experience in experience_number_list %}
                            <option value="{{experience}}">{{experience}}</option>
                            {% endfor%}
                        </select>
                        <label for="hourly_rate" class="form-label">Cena po satu</label>  
                        <div class="price-wrapper">
                           <div class="values">
                              <span id="range1">
                              0
                              </span>
                              <span> &dash; </span>
                              <span id="range2">
                              100
                              </span>
                           </div>
                           <div class="container-price">
                              <div class="slider-track"></div>
                              <input type="range" step="50" name="price_range_min" min="0" max="1500" value="0" id="price_range_min" oninput="slideOne()">
                              <input type="range" step="50"  name="price_range_max" min="0" max="1500" value="1000" id="price_range_max" oninput="slideTwo()">
                           </div>
                        </div>
                         <div class="accordion adwanced-filter" id="accordionExample">
                                 <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                       <button  class="accordion-button collapsed mika" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                       Napredni filteri
                                       </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                       <div class="accordion-body">
                                          
                                          <ul class="ks-cboxtags">
                                             <li><input type="checkbox" id="checkboxOne" value="True" name="children_with_special_needs" class="filter_chb_c">
                                                <label for="checkboxOne">Čuva decu sa posebnim potrebama</label>
                                             </li>

                                             <li><input type="checkbox" id="checkboxTwo" value="True" name="home_job">
                                                <label for="checkboxTwo">Radi lakse kućne poslove</label>
                                             </li>

                                             <li><input type="checkbox" id="checkboxThree" value="True" name="pets" class="filter_chb_c">
                                                <label for="checkboxThree">Ne smetaju joj kućni ljubimci</label>
                                             </li>

                                             <li><input type="checkbox" id="checkboxFour" value="True" name="house" class="filter_chb_c">
                                                <label for="checkboxFour">Čuva decu kod svoje kuće</label>
                                             </li>

                                             <li><input type="checkbox" id="checkboxFive" value="True" name="own_children" class="filter_chb_c">
                                                <label for="checkboxFive">Ima svoju decu</label>
                                             </li>

                                             <li class="ks-selected"><input type="checkbox" id="checkboxSix" value="True" name="cooking" class="filter_chb_c">
                                                <label for="checkboxSix">Kuva deci hranu</label>
                                             </li>

                                             <li><input type="checkbox" id="checkboxSeven" value="True" name="sick_child" class="filter_chb_c">
                                                <label for="checkboxSeven">Čuva decu dok su bolesna</label>
                                             </li>

                                             <li><input type="checkbox" id="checkboxEight" value="True" name="car" class="filter_chb_c">
                                                <label for="checkboxEight">Ima kola</label>
                                             </li>

                                             <li><input type="checkbox" id="checkboxNine" value="True" name="school_activities" class="filter_chb_c">
                                                <label for="checkboxNine">Radi školske aktivnosti</label>
                                             </li>

                                             <li><input type="checkbox" id="checkboxTen" value="True" name="travel" class="filter_chb_c">
                                                <label for="checkboxTen">Putuje sa porodicom</label>
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                        <input type="submit" name="" value="Filtriraj" class="btn btn-filter-btn">
                     </form>
                  </div>
               </div>
               <div class="col-lg-9 col-md-8">
                  <div class="filter-left">
                     <div class="row">
                         {% if babysitter_list %}
                         {% for babysitter,number_of_comment, rate in babysitter_list%}
                        <div class="col-lg-6">
                           <a href="{% url 'connection:babysitter_profil' babysitter.slug %}">
                              <div class="babsit-box filter-box-main">
                                 <div class="babsit-box-ocupation filter-ocupation"><span>Bebisiterka</span></div>
                                 <div class="babsit-img filter-img-main"><img src="{{babysitter.picture.url}}" class="img-fluid"></div>
                                 <div class="babsit-info filter-text">
                                    <h4>{{babysitter.first_name}} <br> {{babysitter.last_name}}</h4>
                                    {% if babysitter.sity == None%}
                                    <p class="baby-p-first filter-p-first"><i class="fas fa-map-marker-alt"></i>&nbsp;</p>
                                    {%else%}
                                    <p class="baby-p-first filter-p-first"><i class="fas fa-map-marker-alt"></i>&nbsp;{{babysitter.sity}}</p>
                                    {%endif%}
                                    <div class="baby-rew">
                                       {% if rate == None%}
                                       <div class="baby-he"><i class="fas fa-star"></i><span>Neocenjen</span></div>
                                       {%else%}
                                       <div class="baby-he"><i class="fas fa-star"></i><span>{{rate}}</span></div>
                                       {%endif%}
                                       <div class="baby-com"><i class="fas fa-comment"></i><span> {{number_of_comment}} Komentar</span></div>
                                       <div class="baby-link">
                                          <div class="baby-link-circle"><i class="fas fa-chevron-right"></i></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </a>                           
                        </div>
                        {%endfor%}
                        {% else%}
                        {% endif%}
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<script type="text/javascript" src="{% static 'layout/js/connection_all_babysitter.js' %}"></script>
{% endblock%}