{% extends "layout/base_contact.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load static %}
{% load crispy_forms_tags %}
{% block title%} {% trans "Porodični Profil" %} {% endblock %}

{% block content%}
<div class="slid insade-slid">
    <div class="container-wrap-gradient"></div>
    <img src="{% static 'layout/img/naslovna3.jpg' %}" />  
    </div>
          <section class="profil-wrapper">
             <div class="container">
                <div class="insade-profil-wrapper insade-profil-wrapper-bebisit">
                   <div class="user-title">
                      <h1>
                        {%if profil.first_name == "" and profil.last_name == "" %}
                        {% trans "Ime i prezime" %}
                        {%else%}
                        {{profil.first_name}} {{profil.last_name}} 
                        {%endif%}
                      </h1>
                   </div>
                   <!-- MESSAGES-->
                  {% if messages %}
                     {% for message in messages %}
                        <div class="main_message">
                                 <div
                                 class="alert alert-dismissible fade show {{ message.tags }}"
                                 role="alert"
                                 >
                                 <span class="al-text">{{message}}</span>

                                 <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="alert"
                                    aria-label="Close"
                                 ></button>
                                 </div>
                           </div> 
                     {% endfor %}
                  {% endif %}
                  <br>
                  <!-- MESSAGES-->
                   <div class="row">
                      <div class="col-xxl-4 col-xl-5 col-lg-5">
                         <div class="user-image">
                                {%if profil.picture == None %}
                                <img src="{% static 'layout/img/zena02.jpg' %}" class="img-fluid">
                                {%else%}
                                <img src="{{profil.picture.url}}" class="img-fluid">
                                {%endif%}   
                         </div>
                         <div class="user-social">
                            <ul>
                               {%if profil.mobile_number == "" %}
                              <li>
                                <span class="icon-user" ><i class="fas fa-phone"></i></span> <span class="user-phone" >
                                      {% trans "Nema broja" %}
                                    </span>                        
                             </li>
                               {%else%}
                              <li><a href="tel:
                                      {{profil.mobile_number}} ">
                                <span class="icon-user" ><i class="fas fa-phone"></i></span> <span class="user-phone" >
                                      {{profil.mobile_number}}
                                    </span></a>
                                   
                             </li> {%endif%}                               
                            </ul>
                         </div>
                         <div class="user-short-info">
                            <ul>
                               <li class="email-center no-link" >
                                  <span class="user-year" >
                                     {%if profil.email == None %}
                                 {%else%}
                                  <a href="mailto:{{profil.email}}"> {{profil.email}}</a>
                                 {%endif%}</span>
                              </li>

                              {% if profil.social_network == None %}
                              <li>
                                 <span class="user-year">{% trans "Nema Društvene mreže" %}</span>
                              </li>
                                 
                                 {%else%}
                              <li>
                                  <span class="user-year">{% trans "Društvene mreže" %}</span>
                                  <a href="{{profil.social_network}}"><span class="user-year-num">{% trans "Klikni ovde" %}</span></a>
                               </li> 
                               {%endif%}                                     
                               <li>
                                  <span class="user-year">{% trans "Godine roditelja" %}</span>
                                  {%if profil.age == None %}
                                  {%else%}
                                      <span class="user-year-num">
                                      {{profil.age}}  
                                  </span>
                                  {%endif%}

                               </li>                                      
                               <li>
                                  <span class="user-year">{% trans "Uzrast dece koju treba čuvati" %}</span>
                                  <span class="user-year-num">{{profil.age_children}}</span>
                               </li>
                               <li>
                                  <span class="user-year">{% trans "Broj dece" %}</span>
                                  <span class="user-year-num">{{profil.number_children}}</span>
                               </li>
                               <li>
                                  <span class="user-year">{% trans "Period čuvanja" %}</span>
                                  <span class="user-year-num">   
                                    {% if profil.childcare_period == 'Manje od mesec dana' %}
                                       {% trans "Manje od mesec dana" %}
                                    {% elif profil.childcare_period == 'Mesec dana' %}
                                       {% trans "Mesec dana" %}
                                    {% elif profil.childcare_period == 'Par meseci' %}
                                       {% trans "Par meseci" %}
                                    {% elif profil.childcare_period == 'Godinu dana' %}
                                       {% trans "Godinu dana" %}
                                    {% elif profil.childcare_period == 'Više od godinu dana' %}
                                       {% trans "Više od godinu dana" %}
                                    {%endif%}
                                  </span>
                               </li>
                            </ul>
                         </div>
                 
                         <div class="user-short-info">
                            <ul>
                               <li>
                                  <span class="user-year">{% trans "Ocena korisnika" %}</span>
                                  {%if rate_average == None %}
                                  <span class="user-year-num">{% trans "Nema ocene" %}</span>
                                  {%else%}
                                  <span class="user-year-num rat-num">{{rate_average}}</span>
                                  {%endif%}
                               </li>
                            </ul>
                         </div>
                    <div class="user-short-info">
                     <a href="{% url 'connection:matched_family_profil' profil.slug %}"><button class="btn btn-success">{% trans "Prihvati zahtev" %}</button></a>
                </div>
                {% for connection in connection_list%}
               <div class="user-short-info">
                   <form action="{% url 'connection:deny_connection' %}" method="post">
                      {% csrf_token%}
                        <input type="hidden" name="connection_id" value="{{connection.id}}">
                        <button class="btn btn-danger" type="submit" class="">{% trans "Odbij zahtev" %}</button>
                   </form>   
                </div>
                {% endfor%}
                      </div>
                      <div class="col-xxl-8 col-xl-7 col-lg-7">
                         <div class="user-main-info">
                            <h3>{% trans "O sebi" %}</h3>
                            <div class="about-area">
                               <p>
                                  {% if LANGUAGE_CODE == 'sr'%}
                                    {% if profil.about_me == "" %}
                                       Porodica nije napisala ništa o sebi...
                                    {%else%}
                                       {{profil.about_me}}
                                    {%endif%}
                                  {% elif LANGUAGE_CODE == 'en'%}
                                    {% if profil.about_me_eng == "" %}
                                          {% if profil.about_me == "" %}
                                             The family did not write anything about themselves ...
                                          {%else%}
                                             {{profil.about_me}}
                                          {%endif%}
                                    {%else%}
                                       {{profil.about_me_eng}}
                                    {% endif %}
                                  {% endif %}
                               </p>
                            </div>
                            <div class="usual-info">
                               <div class="usual-box">
                                  <h4>{% trans "Grad" %}</h4>
                                  <div class="usual-box-info">
                                     {% if profil.sity == None %}
                                    <span>   
                                     {% trans "Porodica nije postavila svoju adresu" %}
                                    </span>
                                     {%else%}
                                     <span>
                                       {{profil.sity}}
                                     </span>
                                     {%endif%}
                                  </div>
                               </div>
                               <div class="usual-box">
                                  <h4>{% trans "Državljanstvo" %}</h4>
                                  <div class="usual-box-info">

                                     <span>
                                        {% if profil.citizenship == "Srpski Drzavljanin" %}
                                        {% trans "Srpsko" %}
                                        {%else%}
                                        {% trans "Strano" %}
                                        {%endif%}

                                     </span>
                                  </div>
                               </div>
                            </div>
                            <h3 class="mt-4 only-on-mob-title">{% trans "Kada je u toku nedelje potrebno čuvanje dece" %}</h3>
                            <div class="user-table table-responsive table-sm">
                                       <table class="table table-striped table-hover">
                                  <thead>
                                     <tr><th></th>
                                        <th scope="col">{% trans "Ponedeljak" %}</th>
                                        <th scope="col">{% trans "Utorak" %}</th>
                                        <th scope="col">{% trans "Sreda" %}</th>
                                        <th scope="col">{% trans "Četvrtak" %}</th>
                                        <th scope="col">{% trans "Petak" %}</th>
                                        <th scope="col">{% trans "Subota" %}</th>
                                        <th scope="col">{% trans "Nedelja" %}</th>
                                     </tr>
                                  </thead>
                                  <tbody>
                                     <tr>
                                        <th scope="row">{% trans "Jutro" %}</th>
                                        <td>
                                            {%if calendar.morning_monday%}
                                            <i class="fas fa-check"></i>
                                            {%endif%}
                                        </td>
                                        <td>
                                            {%if calendar.morning_tuesday%}
                                            <i class="fas fa-check"></i>
                                            {%endif%}
                                        </td>
                                        <td>
                                            {%if calendar.morning_wednesday%}
                                            <i class="fas fa-check"></i>
                                            {%endif%}
                                        </td>
                                        <td>
                                            {%if calendar.morning_thursday%}
                                            <i class="fas fa-check"></i>
                                            {%endif%}
                                        </td>
                                        <td>
                                            {%if calendar.morning_friday%}
                                            <i class="fas fa-check"></i>
                                            {%endif%}
                                        </td>
                                        <td>
                                            {%if calendar.morning_saturday%}
                                            <i class="fas fa-check"></i>
                                            {%endif%}
                                        </td>
                                        <td>
                                            {%if calendar.morning_sunday%}
                                            <i class="fas fa-check"></i>
                                            {%endif%}
                                        </td>
                                     </tr>
                                     <tr>
                                        <th scope="row">{% trans "Popodne" %}</th>
                                        <td>
                                            {%if calendar.afternoon_monday%}
                                            <i class="fas fa-check"></i>
                                            {%endif%}
                                        </td>
                                        <td>
                                            {%if calendar.afternoon_tuesday%}
                                            <i class="fas fa-check"></i>
                                            {%endif%}
                                        </td>
                                        <td>
                                            {%if calendar.afternoon_wednesday%}
                                            <i class="fas fa-check"></i>
                                            {%endif%}
                                        </td>
                                        <td>
                                            {%if calendar.afternoon_thursday%}
                                            <i class="fas fa-check"></i>
                                            {%endif%}
                                        </td>
                                        <td>
                                            {%if calendar.afternoon_friday%}
                                            <i class="fas fa-check"></i>
                                            {%endif%}
                                        </td>
                                        <td>
                                            {%if calendar.afternoon_saturday%}
                                            <i class="fas fa-check"></i>
                                            {%endif%}
                                        </td>
                                        <td>
                                            {%if calendar.afternoon_sunday%}
                                            <i class="fas fa-check"></i>
                                            {%endif%}
                                        </td>
                                     </tr>
                                     <tr>
                                        <th scope="row">{% trans "Veče" %}</th>
                                        <td>
                                            {%if calendar.evening_monday%}
                                            <i class="fas fa-check"></i>
                                            {%endif%}
                                        </td>
                                        <td>
                                            {%if calendar.evening_tuesday%}
                                            <i class="fas fa-check"></i>
                                            {%endif%}
                                        </td>
                                        <td>
                                            {%if calendar.evening_wednesday%}
                                            <i class="fas fa-check"></i>
                                            {%endif%}
                                        </td>
                                        <td>
                                            {%if calendar.evening_thursday%}
                                            <i class="fas fa-check"></i>
                                            {%endif%}
                                        </td>
                                        <td>
                                            {%if calendar.evening_friday%}
                                            <i class="fas fa-check"></i>
                                            {%endif%}
                                        </td>
                                        <td>
                                            {%if calendar.evening_saturday%}
                                            <i class="fas fa-check"></i>
                                            {%endif%}
                                        </td>
                                        <td>
                                            {%if calendar.evening_sunday%}
                                            <i class="fas fa-check"></i>
                                            {%endif%}
                                        </td>
                                     <tr>
                                        <th scope="row">{% trans "Noć" %}</th>
                                        <td>
                                            {%if calendar.night_monday%}
                                            <i class="fas fa-check"></i>
                                            {%endif%}
                                        </td>
                                        <td>
                                            {%if calendar.night_tuesday%}
                                            <i class="fas fa-check"></i>
                                            {%endif%}
                                        </td>
                                        <td>
                                            {%if calendar.night_wednesday%}
                                            <i class="fas fa-check"></i>
                                            {%endif%}
                                        </td>
                                        <td>
                                            {%if calendar.night_thursday%}
                                            <i class="fas fa-check"></i>
                                            {%endif%}
                                        </td>
                                        <td>
                                            {%if calendar.night_friday%}
                                            <i class="fas fa-check"></i>
                                            {%endif%}
                                        </td>
                                        <td>
                                            {%if calendar.night_saturday%}
                                            <i class="fas fa-check"></i>
                                            {%endif%}
                                        </td>
                                        <td>
                                            {%if calendar.night_sunday%}
                                            <i class="fas fa-check"></i>
                                            {%endif%}
                                        </td>
                                     </tr>
                                  </tbody>
                               </table>
                            </div>
                            <div class="comment-area">
                              {% if commentary_list != None %}
                              {% for commentary, author in commentary_list %}
                               <div class="comment-preview">
                                  <h6> <b> {{author.first_name}} {{author.last_name}}</b></h6>
                                  <p class="com-dat">{{commentary.date}}</p>
                                  <p>{{commentary.commentary_body}}
                                  </p>
                               </div>
                               {% endfor %}
                               {%else%}
                               <div class="comment-preview">
                                  <h6> <b> {% trans "Nema komentara" %}</b></h6>
                                  <p class="com-dat"></p>
                                  <p></p>
                               </div>
                               {% endif%}
                            </div>
                         </div>
                         <!-- end user main info -->
                      </div>
                   </div>
                </div>
             </div>
          </section>
{% endblock %}